{% extends 'base.html' %}
{% load static %}

{% comment %}
{% block contents %}
<!-- Content section-->
<div class="my-0">
  <img src="{% static 'img/new1-background-gadefe0c79_1280.jpg'%}" alt="" class="img-fluid">
</div>
<div class="form-wrapper">
  <h1>ログイン</h1>
  <form>
    <div class="form-item">
      <label for="email">メールアドレスを入力してください</label>
      <input type="email" name="email" required="required" placeholder="Email Address">
    </div>
    <div class="form-item">
      <label for="password">パスワードを入力してください</label>
      <input type="password" name="password" required="required" placeholder="Password">
    </div>
    <div class="button-panel">
      <input type="submit" class="button" title="Sign In" value="ログイン">
    </div>
  </form>
  <div class="form-footer">
    <p><a href="#">新規登録</a></p>
  </div>
</div>
<div class="my-0">
    <img src="{% static 'img/new-background-gadefe0c79_1280.jpg'%}" alt="" class="img-fluid">
</div>
{% endcomment %}

{% load django_bootstrap5 %}

{% block title %}ログイン | パーソナルカラー診断{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="my-0">
  <img src="{% static 'img/new1-background-gadefe0c79_1280.jpg'%}" alt="" class="img-fluid">
</div>
<div class="form-wrapper">
  <h1>ログイン</h1>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}

        <div class="form-item">
          {% bootstrap_form form %}
        </div>

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

          <button class="btn container btn-outline-primary" type="submit">ログイン</button>
          <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
    </form>
</div>
<div class="my-0">
  <img src="{% static 'img/new-background-gadefe0c79_1280.jpg'%}" alt="" class="img-fluid">
</div>
{% endblock %}