{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードリセット | パーソナルカラー診断{% endblock %}

{% block contents %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <font face="筑紫ゴシック">
                    <h2>パスワードリセット</h2>
                            
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="lead my-5 mx-5">パスワードリセット用メールを送信します。</p>
                </font>
                <form method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
    
                    <div class="mb-4 col-4 mx-4">
                        {% bootstrap_form form %}
                    </div>
    
                    <button class="btn btn-primary mx-4" type="submit">送信</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}