{% extends 'base.html' %}

{% block contents %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <font face="筑紫ゴシック">
                    <h2>メールアドレスを確認してください</h2>
                    <p class="lead my-4">確認のメールを送信しました。</p>
                    <p class="mb-0">メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。数分待っても確認のメールが届かない場合はご連絡ください。</p>
                </font>
            </div>
        </div>
    </div>
</section>
{% endblock %}
