{% extends 'base.html' %}
{% load static %}
{% block title %}パーソナルカラー診断{% endblock %}
{% block active_index %}active{% endblock %}
{% block header %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-1 bg-image-full" style="background-image: url('{% static 'img/eye-1.jpg' %}')">
    <div class="text-center my-1">
        {% comment %} <img class="img-fluid rounded-circle mb-2" src="{% static 'img/clover.jpg' %}" alt="..." /> {% endcomment %}
        <font face="Century">
            <h1 class="text-white fs-1 fw-bolder">Personal Color Finder</h1>
        </font>
        <font face="筑紫ゴシック">
            <h4 class="text-white mb-5">あなたの顔写真からパーソナルカラーを診断！</h4>
        </font>
    </div>
</header>
{% endblock %}
{% block contents %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <font face="筑紫ゴシック">
                    <h2>パーソナルカラーを診断！</h2>
                    <p class="lead">ご自身に似合う色をご存じでしょうか。好きな色はあるけど派手すぎる！色を選ぶときにいつも同じ色味や、無難な白や黒を選んでしまうことはありませんか。</p>
                    <p class="mb-0">顔写真からパーソナルカラーを診断し、あなたに似合う色を診断できます。</p>
                </font>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="slider">
    <img src="{% static 'img/img-1.jpg'%}" width="500" height="300" alt="" class="img-fluid">
    <img src="{% static 'img/img-2.jpg'%}" height="300" alt="" class="img-fluid">
    <img src="{% static 'img/img-3.jpg'%}" height="300" alt="" class="img-fluid">
    <img src="{% static 'img/img-4.jpg'%}" height="300" alt="" class="img-fluid">
    {% comment %} <img src="{% static 'img/roses-g44a7cef51_1920.jpg'%}" height="300" alt="" class="img-fluid"> {% endcomment %}
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <font face="筑紫ゴシック">
                    <h2>さっそく診断してみましょう</h2>
                    <p class="lead">パーソナルカラーは瞳の色、肌の色から～春・夏・秋・冬～の4つの季節タイプに分かれています。</p>
                    <p class="mb-0">初めての方はもちろん、今までパーソナルカラー診断を受けたり、ネットや雑誌で自己診断しても、何だか結果がしっくりこないと感じている方は、ぜひチェックしてみてください。</p><hr>
                </font>
            </div>
        </div>
    </div>
    <div class="text-center lead">
        <form method="post" enctype="multipart/form-data">
            <font face="筑紫ゴシック">
                <div class="container my-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <p class="mb-5 red">※診断の精度を上げる為に、撮影は正面から自然光の明るい場所で目をしっかり開き、メガネを掛けている場合は外して撮影をお願いします。</p>
                                <p class="mb-0">撮影例</p> 
                                <img src="{% static 'img/iphone2.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
            {% csrf_token %}
            性別: 
            {% for value in form.gender %}
                {{value}}
            {% endfor %}
            <br><br>
            {{ form.img }}<br><br>
            <button class="btn btn-outline-primary" type="submit">送信</button>
            </font>
        </form>
    </div>
</section>
{% endblock %}
