

<div class="slider">
<img src="img/1.png" width="500" height="300" alt="">
<img src="img/2.png" width="500" height="300" alt="">
<img src="img/3.png" width="500" height="300" alt="">
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>



$(document).ready(function(){
    $('.slider').bxSlider({
        auto: true,
        pause: 5000,
        
    });
});
